[submodule "src/lib/pyfdtd"]
	path = src/lib/pyfdtd
	url = git://github.com/schansge/pyfdtd.git
[submodule "src/lib/booleanparser"]
	path = src/lib/booleanparser
	url = git://github.com/schansge/booleanparser.git
